.home-button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  z-index: 2;
}

.schedule-details-header-container {
  position: relative;
  text-align: center;
  color: white;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 0;
}

.schedule-details-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#schedule-details-header {
  font-size: 3em;  
  font-family: "Papyrus", "Helvetica";
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

#schedule-details-description {
  width: 60%;
  font-size: 1.5em;
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.shows-container, .attendees-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #f8f9fa;
  color: white;
  text-align: center;
}

.shows, .attendees {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.show-card, .attendee-card, .schedule-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 500px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.attendee-card:hover, .schedule-card:hover {
  transform: scale(1.05);
}

#remove-show-button {
  position: absolute; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  background: lightblue;
  border: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
  color: black;
  text-align: center;
  display: inline-block;
}

.show-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.show-info, .attendee-info {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 1em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  width: 80%;
  overflow:;
}

.show-info p, .attendee-info p {
  margin: 5px 0;
  font-size: 0.9em;
}

.show-info p span, .attendee-info p span {
  font-weight: bold;
  color: white;
}

@media (max-width: 664px) {
  .show-card, .attendee-card, .schedule-card {
    width: 200px;
    height: 300px;
  }

  .show-info, .attendee-info {
    font-size: .75em;
  }

  #schedule-details-header {
    font-size: 2em;
  }

  #schedule-details-description {
    font-size: 1em;
  }
}