.header-container {
  position: relative;
  text-align: center;
  color: white;
}

#main-header {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 3em;
  font-family: "Papyrus", "Helvetica";
}

.background-image {
  height: 40vh;
  width: 100vw;
}

#festival-name {
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 4em;
  font-family: "Papyrus", "Helvetica";
  color: white;
}

.search-bar {
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 25%;
  border-radius: 10px;
  border-color: blue;
  color:darkblue
}

#shows-header, #attendees-header, #schedules-header  {
  background: linear-gradient(135deg, rgba(3, 95, 100, 1.0), rgba(58, 1, 186, 1.0));  width: 75%;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 1.5em;
  padding: 10px;
  color: white;
  text-align: center;
}

.schedules {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.schedules div {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
}

.schedules img, .shows img, .attendees img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.schedule-info {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
  text-align: center;
}

@media (max-width: 1276px) {
  #festival-name {
    font-size: 3em;
  }
}

@media (max-width: 900px) {
  #festival-name {
    font-size: 2.5em;
  }

  .background-image {
    height: 250px;
  }

  #main-header {
    font-size: 1.5em;
  }
}

@media (max-width: 790px) {
  #festival-name {
    font-size: 1.5em;
  }

  #shows-header, #attendees-header {
    font-size: 1em;
  }
}